

html{
	font-family: math, monospace;
}

body{  background-color: rgba(5.1,3.1,0.8,1);
}
  

.content{
background-color: rgba(29.8,17.3,9.0,0.75);
color: white;

max-width: 850px;
width: 90vw;

padding: 1vh 2vw 1vh 2vw;
margin: 2vh 2vw 2vh 2vw;
border-radius: 2%;

position: relative;


}

h1, h2, h3, p, a{
opacity: 1.0;}

h1{
font-size:6vh;}

h2{
font-size:4vh;}

h3{
font-size:3vh;}

p{
font-size:2.5vh;}

a{
color: white;}


#header-id{
margin: 40vh 2vw 2vh 2vw;

}

#container{
width: 100%;
background: url(background.jpg);
background-repeat:no-repeat;
background-size:contain;
  float: right;
            }
            
#float-right{

float:right;
}
